<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories</title>
    <link href="style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div class="image-gallery">

    <img id="largeImage" src="images/gallery-img1.jpg" class="image-class" alt="Large Image">

    <div class="thumbnails">
        <img src="images/gallery-img1.jpg" class="thumb" alt="Thumb 1" onclick="changeImage(0)">
        <img src="images/gallery-img2.jpg" class="thumb" alt="Thumb 2" onclick="changeImage(1)">
        <img src="images/gallery-img4.jpg" class="thumb" alt="Thumb 3" onclick="changeImage(2)">
    </div>
</div>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
