<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
       <div class="row">
        <header class="container">
            <div class="logo">
                ZENTRO
            </div>
            <nav class="navdiv">
                <button class="btn d-md-none"><i class="fa fa-bar"></i></button>
                <ul class="d-none d-md-block">
                    <li><a href="">HOME</a</li>
                    <li><a href="">FOOD GALLERY</a></li>
                    <li><a href="">SPECIAL MENU</a></li>
                    <li><a href="">CHEFS</a></li>
                    <li><a href="">CANTACT</a></li>
                </ul>
            </nav>

        </header>

       </div>
       <div class="row picback alignitemcenter">
        <div class="resturantname">
            <h1>ZENTRO RESTAURANT</h1>
            <div>CLEAN & SIMPLE DESIGN</div>
            <a href="">LAERN MORE</a>
        </div>

       </div>
       <div class="row">
        <div class="gtitle">
            Food Gallery
        </div>
       </div>
       <div class="row">
        <div class="container">
            <div class="col-12 col-md-4"> 
                <div class="card">
                    <img src="image/gallery-img1.jpg">
                    <div class="card-body">gallery img
                        Lemon-Rosemary Prawn</div>
                    <div class="card-footer">Seafood / Shrimp / Lemon</div>
                    <img src="image/gallery-img2.jpg">
                    <div class="card-body">gallery img
                        Lemon-Rosemary Prawn</div>
                    <div class="card-footer">Seafood / Shrimp / Lemon</div>

                </div>
            </div>
            <div class="col-12 col-md-4"> 
                <div class="card">
                    <img src="image/gallery-img3.jpg">
                    <div class="card-body">gallery img
                        Lemon-Rosemary Prawn</div>
                    <div class="card-footer">Seafood / Shrimp / Lemon</div>
                </div>
            </div>
            <div class="col-12 col-md-4"> 
                <div class="card">
                    <img src="image/gallery-img4.jpg">
                    <div class="card-body">gallery img
                        Lemon-Rosemary Prawn</div>
                    <div class="card-footer">Seafood / Shrimp / Lemon</div>
                    <img src="image/gallery-img5.jpg">
                    <div class="card-body">gallery img
                        Lemon-Rosemary Prawn</div>
                    <div class="card-footer">Seafood / Shrimp / Lemon</div>

                </div>
            </div>
        </div>
       </div>
       <div class="row bg">
        <div class="gtitle">
            Special Menu
        </div>
       </div>
       <div class="row bg">
        <div class="container">
            <div class=" col-12 md-6">
                <div class="menu">
                    Lemon-Rosemary Vegetable ................ $20.50
                </div>
                <div class="menu2">Chicken / Rosemary / Lemon</div>
                <div class="menu">
                    Lemon-Rosemary Vegetable ................ $20.50
                </div>
                <div class="menu2">Chicken / Rosemary / Lemon</div>
                <div class="menu">
                    Lemon-Rosemary Vegetable ................ $20.50
                </div>
                <div class="menu2">Chicken / Rosemary / Lemon</div>
                <div class="menu">
                    Lemon-Rosemary Vegetable ................ $20.50
                </div>
                <div class="menu2">Chicken / Rosemary / Lemon</div>

            </div>
            <div class=" col-12 md-6">
                <div class="menu">
                    Lemon-Rosemary Vegetable ................ $20.50
                </div>
                <div class="menu2">Chicken / Rosemary / Lemon</div>
                <div class="menu">
                    Lemon-Rosemary Vegetable ................ $20.50
                </div>
                <div class="menu2">Chicken / Rosemary / Lemon</div>
                <div class="menu">
                    Lemon-Rosemary Vegetable ................ $20.50
                </div>
                <div class="menu2">Chicken / Rosemary / Lemon</div>
                <div class="menu">
                    Lemon-Rosemary Vegetable ................ $20.50
                </div>
                <div class="menu2">Chicken / Rosemary / Lemon</div>

            </div>
        </div>
       </div>
       <div class="row">
        <div class="gtitle">Meet Zentro chefs</div>
       </div>
       <div class="row">
        <div class="container">
            <div class="col-12 md-4"> 
                <div class="card">
                    <img src="image/team1.jpg">
                    <h1>Thanya</h1>
                    <div class="chname">Main Chef</div>
                    
                </div>
            </div>
            <div class="col-12 md-4"> 
                <div class="card">
                    
                    <img src="image/team2.jpg">
                    <h1>Thanya</h1>
                    <div class="chname">Main Chef</div>
                    
                </div>
            </div>
            <div class="col-12 md-4"> 
                <div class="card">
                    
                    
                    <img src="image/team3.jpg">
                    <h1>Thanya</h1>
                    <div class="chname">Main Chef</div>
                </div>
            </div>
            
            </div>
        </div>
        

    </body>
</html>