<html>

<head>
    <style type="text/css"></style>

<body>
    <table border="1" cellapding="1" cellspacing="1" width="45%" height="95%">
        <form>
            <tr>
                <td colspan="3">
                    <h1> sign up page </h1>
                </td>

            </tr>
            <tr>
                <td>
                    <p style="color: aqua;">aqua</p>
                </td>
                <td>
                    <p style="color: green;">green</p>
                </td>
                <td>
                    <p style="color: brown;">brown</p>
                </td>
            </tr>
            <tr style="color: blue;">
                <td>

                    <label>firstname:</label>


                </td>
                <td>

                    <input type="text" name="txt" placeholder="mohamad">

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>

                    <label>Lastname:</label>

                </td>
                <td>
                    <input type="text" name="text" value="mohamadi">

                </td>
                <td style="color: red;"></td>
            </tr>
            <tr>
                <td>

                    <label>Phone number:</label>

                </td>
                <td>

                    <input type="text" name="teext" maxlength="11" value="1234" readonly>

                </td>
                <td> </td>
            </tr>
            <tr>
                <td>

                    <label>Gender:</label>

                </td>
                <td>

                    <input type="radio" name="rdio" value="male">Male
                    <input type="radio" name="rdio" value="female" checked>Female

                </td>
                <td></td>
            </tr>
            <tr>
                <td>

                    <label>country:</label>

                </td>
                <td>

                    <select name="cntry" size="10">
                        <option value="us">USA</option>
                        <option value="gr">Germany</option>
                        <option value="nr">Netherland</option>
                        <option value="sw">Sweden</option>
                        <option value="afg">Afghanistan</option>
                        <option value="swz">Switzerland</option>
                        <option value="sp">Spain</option>
                        <option value="fr">France</option>
                    </select>

                </td>
                <td>

                    <select name="country">
                        <option value="us">USA</option>
                        <option value="gr">Germany</option>
                        <option value="nr">Netherland</option>
                        <option value="sw">Sweden</option>
                        <option value="afg">Afghanistan</option>
                        <option value="swz">Switzerland</option>
                        <option value="sp">Spain</option>
                        <option value="fr">France</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>

                    color: <input type="color" name="clr">

                </td>
                <td>

                    <input id="chkid" type="checkbox" name="chk" value="ok">
                    <label for="chkid">you agree to our terms of service</label>

                </td>
                <td>
                    <a href="http://google.com">go to google</a>
                </td>
            </tr>
            <tr>
                <td colspan="3">

                    <input type="reset" value="reset">
                    <input type="submit" name="sub" value="save">

                </td>
            </tr>

        </form>
    </table>
</body>
</head>

</html>