<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <div class="maindiv">
        <div class="text">
            <p> Creat your account</p>

        </div>
        <div style="text-align: center;">
            <form class="myform ">
                <label>First name:</label>
                <input type="text" name="fname">
                <label>Last name:</label>
                <input type="text" name="lname">

            </form>
            <div class="secdiv">
                <form class="myform2">
                    <label>Adress:</label>
                    <input type="text" name="adress">
                </form>
            </div>
            <div class="thdiv">
                <form class="myform3">
                    <label> Date of Birth:</label>
                    <input type="date" name="date">
                    <label> Phone number:</label>
                    <input type="text" name="phnumber" maxlength="11" placeholder="+98">
                </form>
                <div class="fdiv">
                    <form class="myform4">
                        <label>Email Adress:</label>
                        <input type="email" name="emailadress">
                    </form>
                </div>
                <div class="fivdiv">
                    <form class="myform5">
                        <input type="reset" name="rst" value="Back">
                        <input type="submit" name="sub" value="Create account">

                    </form>
                </div>

            </div>
        </div>

    </div>

</body>

</html>