body{
    background-image: url("img/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    
}
.maindiv{
    width: 1380px;
   float: left;
   position: relative;
   /* margin: 10px 90px; */
   margin-inline: auto;
   
   
}
.text p{
    width: 1380px;
    font-size: 50px;
    font-family:monospace;
    color: white;
    /* display: inline; */
    font-weight: bold;
    /*margin: 40px auto ;*/
    text-align: center;
    /* margin: 0px 40px; */
    /* margin-inline: auto; */
   position: relative;
   left: 60px;
   padding-bottom: 50px;
   padding-top:10px
   
}

.myform label{
    display:inline-block;
    color: aliceblue;
    margin: 0px 30px;

}
 .myform input[type=text]{
    border-radius: 10px 10px 10px 10px;
    margin:  10px ;
    width:150px;
    height: 40px;
}
.secdiv .myform2 label{
    display: inline-block;
    color: aliceblue;
    margin: 15px 48px;
}
.secdiv .myform2 input[type=text]{
    border-radius: 10px 10px 10px 10px;
    margin: 20px 0px ;
    width:460px;
    height: 40px;
}


.secdiv.myform2 input:focus{
    background: burlywood;
}
.thdiv .myform3 label{
    display: inline-block;
    color: aliceblue;
    margin: 0px 28px;

}
.thdiv .myform3 input[ type=date]{
    border-radius: 10px 10px 10px 10px;
    width:150px;
    height: 40px;
    margin: 19px 0px ;
    
}
.thdiv .myform3 input[ type=text]{
    border-radius: 10px 10px 10px 10px;
    width:150px;
    height: 40px;
    margin: 19px 0px 
}
.fdiv .myform4 label{
    display: inline-block;
    color: aliceblue;
    margin: 0px 28px;
}
.fdiv .myform4 input[type=email]{
    border-radius: 10px 10px 10px 10px;
    margin: 10px 3px ;
    width:460px;
    height: 40px;
}

.fivdiv .myform5 input[type=reset]{
    width: 150px ;
    height: 40px;
    color: rgb(67, 66, 66);
    border-radius: 25px 25px 25px 25px;
    margin: 15px 149px;
    
    
}
.fivdiv .myform5 input[type=submit]{
    width: 150px ;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
    margin: 29px 20px;
}
.fivdiv .myform5 input:focus{
    background: rgb(160, 160, 233);
}

form{
    margin-inline: auto !important;
}
