<html>
    <head>
        <style type="text/css">
            .int{
                color: blue;
            }
        </style>
        <body>
            <ul type="circle" class="int">
                <li>web:
                    <ol type="I">
                        <li>Html</li>
                        <li>css</li>
                        <li> bootstrap</li>
                        <li>js</li>
                        <li>php</li>
                    </ol>
                </li>
            </ul>
        </body>
    </head>
</html>