<html>
    <head>
        <title>elegant theme</title>
        <link rel="stylesheet" type="text/css" href="style/sttyle.css">
    </head>
    <body>
        <div class="main-page">
            <div class="header">
                <a class="link-title"><div class="title-div"></div></a>
            </div>
            <div class="menu-list">
                <ul>
                    <li><a class="active" href="#">HOME</a></li>
                    <li><a href="about.htm">ABOUT</a></li>
                    <li><a href="gallery.htm">GALLERY</a></li>
                    <li><a href="contact.htm">CONTANT</a></li>
                </ul>
            </div>
            <div class="navigation">
                <div class="nav-group">
                    <div class="content-div"></div>
                    <div class="day-div">
                        <ul>
                            <li>19</li>
                            <li>dec 2023</li>
                            <li>12 comment</li>
                        </ul>
                    </div>
                    <div class="web-text">
                        <p>FREE WEBSITE TEMPLATES</p>
                    </div>
                    <div class="side-bar">
                        <a href="#">Graphic</a> /
                        <a href="#">Illustrations</a>
                    </div>
                    <div class="pic2"></div>
                    <div class="explain-div">
                        <p>Elegant is a <a href="#">free website template</a> for everyone. Credits go to <a href="#"> for photovaco</a> and <a href="#">Dev7Studios</a> for Nivo Slider. Integer ultrices enim non ipsum pulvinar, sed tincidunt ipsum lacinia.</p>
                    </div>
                    <div class="continue-div"><a href="#"> continue reading</a></div>
                    <div class="line-div"><hr color="blue"></div>
                    <div class="day-div2">
                        <ul>
                            <li>15</li>
                            <li>oct 2023</li>
                            <li>24 comment</li>
                        </ul>
                    </div>
                    <div class="web-text2">Web Design Trends</div>
                    <div class="link-text">
                        <a href="#">web Design</a> /
                        <a href="#">templates</a>
                    </div>
                    <div class="pic3"></div>
                    <div class="explain-div2">Vestibulum turpis tellus, ornare accumsan viverra et, varius at dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ut ipsum enim, quis aliquam odio. Vivamus cursus vestibulum sodales. Nulla facilisi. Proin at neque in tellus malesuada mattis.
                    </div>
                    <div class="continue-div2"><a href="#">continue reading</a></div>
                </div>
                <div class="content-menu"></div>
                <div class="content-menu2">
                    <label>Categories</label>
                    <ul>
                        <li><a href="#">Aliquam ut arcu a metus</a></li>
                        <li><a href="#">Donec eu ipsum lectus</a></li>
                        <li><a href="#">Fusce at mauris</a></li>
                        <li><a href="#">Mauris eleifend elit nec</a></li>
                        <li><a href="#">Phasellus posuere ipsum</a></li>
                        <li><a href="#">sed venenatis dui eget</a></li>
                    </ul>
                </div>
                <div class="content-menu3">
                    <label>RECENT COMMENTS</label>
                    <p class="pdiv1"><a href="#">Maecenas vel ligula dolor</a>Curabitur pellentesque varius nibh, sit amet ultrices urna lobortis ac.</p>
                    <p class="pdiv2"> <a href="#">Aenean feugiat mattis</a>
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                    <p class="pdiv3"><a href="#">Lacus enim id lacinia in</a>
                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Validate XHTML and CSS.</p>
                </div>
            </div>
            <div><hr color="black"></div> 
            <div class="footer-div">
                <div class="footer1">
                    <label>pages</label>
                    <ul>
                        <li><a href="#">Etiam commodo</a></li>
                        <li><a href="#">Praesent adipiscing</a></li>
                        <li><a href="#">Duis sed justo</a></li>
                        <li><a href="#">Mauris dignissim</a></li>
                        <li><a href="#">Mauris vulputate</a></li>
                        <li><a href="#">In adipiscing purus</a></li>
                    </ul>
                </div>
                <div class="footer2">
                    <label>Partners</label>
                    <ul>
                        <li><a href="#">Aenean ac tellus nec</a></li>
                        <li><a href="#">Maecenas vestibulum</a></li>
                        <li><a href="#">Ut aget tellus aget</a></li>
                        <li><a href="#">Curabitur ut lectus</a></li>
                        <li><a href="#">Vivamus vel augue vel</a></li>
                        <li><a href="#">Praesent varius tempor</a></li>
                    </ul>
                </div>
                <div class="footer3">
                    <label>About Us</label>
                    <p>Aliquam venenatis nisl a lacus facilisis accumsan. Ut id tellus a velit adipiscing condimentum ornare nec lectus. Nam ut dui sit amet metus sagittis bibendum quis in odio. Quisque sit amet erat a lorem condimentum placerat. Duis dignissim, justo vel consequat vulputate, neque nibh gravida nisi, et posuere mauris turpis dapibus quam.</p>
                </div>
            </div>
        </div>
    </body>
</html>